---
const currentYear = new Date().getFullYear();
---

<footer class="bg-dark text-white">
  <div class="section text-center">
    <p class="mb-6">© {currentYear} David Ehrentreu | Process Automation Consultant</p>
    <div class="space-x-8">
      <a href="/#contact" class="hover-underline">Contact</a>
      <a href="/blog" class="hover-underline">Blog</a>
      <a href="#" class="hover-underline">LinkedIn</a>
    </div>
  </div>
</footer>