---
import '@fontsource-variable/outfit';
import '@fontsource-variable/plus-jakarta-sans';
import '../styles/base.css';
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';

interface Props {
  title: string;
  description?: string;
}

const { 
  title,
  description = "Tired of inefficiencies? David Ehrentreu helps businesses automate workflows, slash costs, and save time. Get a free audit + tailored tool implementation."
} = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  </head>
  <body class="bg-white text-dark font-body">
    <Navigation />
    <slot />
    <Footer />
    <script is:inline src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script is:inline>
      AOS.init({
        duration: 800,
        once: true,
      });
    </script>
  </body>
</html>